<section class="coil-section coil-section__{{include.backgroundColor}}">
    <hr class="coil-section__accent coil-section__accent--{{include.color}}"> </hr>
    <div class="coil-section__title"> {{ include.title }}</div>
    <div class="coil-section__subtitle"> {{ include.subtitle }}</div>
    <div class="coil-section__description"> {{ include.description }}</div>

    <div class=coil-section__exec> 
        <div class="coil-section__exec--title"> Executive Champion </div>
        {% for member in include.executiveChampion %}
            <div class="coil-section__name"> {{member.name}} </div> 
        {% endfor %}
    </div>

    <div class=coil-section__product> 
        <div class="coil-section__product--title"> Product Advisors </div>
        {% for member in include.productAdvisors %}
                <div class="coil-section__name"> {{member.name}} </div> 
        {% endfor %}
    </div>

    <div class="coil-section__tech">
        <div class="coil-section__tech--title"> Tech Teams </div>
        <div class="coil-section__tech-container">
            {% for team in include.techTeams %}
                <div class="coil-section__team"> {{team.name}} </div> 
            {% endfor %}
        </div>
    </div>
    
    <div class="coil-section__advocates">
            <div class="coil-section__advocates--title"> User Advocates </div>
            <div class="coil-section__advocates-container">
                {% for user in include.userAdvocates %}
                    <div class="coil-section__team"> {{user.name}} </div> 
                {% endfor %}
            </div>
        </div>
    
</section>